body {
	background: #E3E3E3;
	height: 100vh;
}
body.counterTop {
	overflow: hidden;
}

#pinOverlay {
	position: fixed;
	top: 35%; left: 50%;
	margin-left: -300px;
	height: 400px;
	width: 600px;
	background-color: #fff;
	text-align: center;
	z-index: 1000;
}

#pinOverlay h2 {
	padding: 12px 0;
	margin: 12px 0 0;
}
#pinOverlay > div {
	position: absolute;
	bottom: 0; 
	padding: 12px;
}
#pinOverlay .linkOption {
	left: 0; right: 50%;
}
#pinOverlay .qrOption {
	right: 0; left: 50%;
	padding-bottom: 30px;
}
#pinOverlay p {
	margin: 1.25rem 0;
}

#recipeOverlay {
	position: fixed;
	background-color: white;
	top: 0; left: 35%;
	padding: 18px;
	display: none;
}

body.playing #recipeOverlay {
	display: block;
}
#recipeOverlay h3 {
	font-size: 30px;

}
#recipeOverlay ul {
	list-style: none;
	margin: 0;
}
#recipeOverlay li.done {
	text-decoration: line-through;
}

.multitoolLink {
	font-size: 18px;
	font-weight: bold;
	color: #222;
}
.multitoolLink:visited {
	color: #222;
}

.multitoolPin {
	font-size: 60px;
	font-weight: bold;
	line-height: 1;
}


/* MultiTool */
body.multiTool #container {
	padding-top: 72px;
	text-align: center;
	height: 100vh;
}

body.multiTool h1 {
	font-weight: bold;
}

body.multiTool input {
	text-align: center;
	padding: 12px;
	font-size: 36px;
	height: 72px;
}

body.multiTool input.submit {
	font-size: 30px;
	background-color: rgb(50,255,50);
    color: black;
}


/* Temp Styling to demo states! 

todo: use selectors below to set bg image to correct tool img

*/

#toolControl {
	position: fixed;
	height: 15vh;
	bottom: 0; right: 0; left: 0;
	background-color: rgba(0,0,0,.5);
	transition: top .25s;
}
#toolControl > div {
	display: inline-block;
	height: 100%; width: 32%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

#toolControl #knife {
	background-image: url('/images/Tools/knife-icon.png');
}
#toolControl #spoon {
	background-image: url('/images/Tools/spoon-icon.png');
}
#toolControl #shaker {
	background-image: url('/images/Tools/salt-icon.png');
}

body.multiTool.notReady #toolControl {
	top: 100vh;
}


body.multiTool #container {
	background-repeat: no-repeat;
	transition: background-position .15s;
	transition-timing-function: ease-in;
}
body.multiTool.action #container {
	transition-timing-function: ease-out;
}

body.multiTool.knifeL #container {
	background-position: top center;
	background-image: url("/images/Tools/knifeL-sm.png");
	background-size: 55%;
}
body.multiTool.knifeR #container {
	background-position: top center;
	background-image: url("/images/Tools/knifeR-sm.png");
	background-size: 55%;
}
body.multiTool.knifeL.action #container {
	background-position: top right;
}
body.multiTool.knifeR.action #container {
	background-position: top left;
}

body.multiTool.spoon #container {
	background-image: url("/images/Tools/spoon-sm.png");
	background-position: top center;
	transition: none;
	background-size: 55%;
}
body.multiTool.shaker #container {
	background-image: url("/images/Tools/salt-sm.png");
	background-size: contain;
	background-position: top center;
	transition: none;
}

body.multiTool.blank #container {
	background: white;
}