body {
  background: #E3E3E3;
}





/* MultiTool */
body.multiTool #container {
	padding-top: 72px;
	text-align: center;
}

body.multiTool h1 {
	font-weight: bold;
}

body.multiTool input {
	text-align: center;
	padding: 12px;
	font-size: 36px;
	height: 72px;
}

body.multiTool input.submit {
	font-size: 30px;
}


/* Temp Styling to demo states! 

todo: use selectors below to set bg image to correct tool img

*/
body.multiTool.blank {
	background-color: white;
}
body.multiTool.knifeL {
	background-color: red;
}
body.multiTool.knifeR {
	background-color: orange;
}
body.multiTool.spoon {
	background-color: blue;
}
body.multiTool.shaker {
	background-color: green;
}