body {
  background: #E3E3E3;
}





/* MultiTool */
body.multiTool #container {
	padding-top: 72px;
	text-align: center;
	height: 100vh;
}

body.multiTool h1 {
	font-weight: bold;
}

body.multiTool input {
	text-align: center;
	padding: 12px;
	font-size: 36px;
	height: 72px;
}

body.multiTool input.submit {
	font-size: 30px;
	background-color: rgb(50,255,50);
    color: black;
}


/* Temp Styling to demo states! 

todo: use selectors below to set bg image to correct tool img

*/

#toolControl {
	position: fixed;
	height: 15vh;
	width: 100%;
	top: 85vh;
	background-color: #999;
	transition: top .25s;
}
#toolControl > div {
	display: inline-block;
	height: 100%; width: 32.75%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

#toolControl #knife {
	background-image: url('/images/Tools/knife-icon.png');
}
#toolControl #spoon {
	background-image: url('/images/Tools/spoon-icon.png');
}
#toolControl #salt {
	background-image: url('/images/Tools/salt-icon.png');
}

body.multiTool.notReady #toolControl,
body.multiTool.shaker #toolControl,
body.multiTool.spoon #toolControl,
body.multiTool.knifeL #toolControl,
body.multiTool.knifeR #toolControl {
	top: 100vh;
}


body.multiTool #container {
	background-repeat: no-repeat;
	transition: background-position .15s;
	transition-timing-function: ease-in;
}
body.multiTool.action #container {
	transition-timing-function: ease-out;
}

body.multiTool.knifeL #container {
	background-position: top right;
	background-image: url("/images/Tools/knife-side3.png");
	background-size: 55%;
}
body.multiTool.knifeR #container {
	background-position: top left;
	background-image: url("/images/Tools/knife-side2.png");
	background-size: 55%;
}
body.multiTool.knifeL.action #container {
	background-position: top left;
}
body.multiTool.knifeR.action #container {
	background-position: top right;
}

body.multiTool.spoon #container {
	background-image: url("/images/Tools/spoon2.png");
	background-position: top center;
	transition: none;
	background-size: 60%;
}
body.multiTool.shaker #container {
	background-image: url("/images/Tools/salt2.png");
	background-size: cover;
	transition: none;
}

body.multiTool.blank #container {
	background: white;
}